@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --main-color: #fd4646;
    --text-color: #171427;
    --background-color: #fff ;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section{
    padding: 4rem 0  3rem;
}

/* Header */

header{
    position: fixed;
    z-index: 100;
    background: var(--background-color);
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 8px hsla(0, 2%, 8%, 0.1);
   
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    font-size: 1.2rem; /*19.2px*/
}

#cart-button{
    font-size: 34px;
    cursor: pointer;
    ;
}

/* Seccion de la tienda */
.section-title{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 24px;
}

.shop{
    margin-top: 32px;
}

.content-shop{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 24px;
}

.product-card{
    position: relative;
}

.product-card:hover{
    padding: 10px;
    border: 1px solid gray;
    transition: 0.5s;
}

.product-image{
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.product-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.price{
    font-weight: 500;
}

.bx-cart-add{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    padding: 12px;
    color: var(--background-color);
    font-size: 16px;
    cursor: pointer;
}

.bx-cart-add:hover{
    transition: 0.5s;
    background: green;
}



/* Carro de compras */
 .cart-container{
    position: fixed;
    top: 0; 
    right: -100%;
    transition: 0.3s;
    width: 360px;
    min-height: 100vh;
    padding: 25px;
    background: white;
    box-shadow: -2px 0 8px hsla(0 8% 15% / 10%);
}

.show-cart{
  right: 0;
}

.cart-title{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-card{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.details-cart{
    display: grid;
    row-gap: 0.5rem;
}

.cart-title{
    text-transform: uppercase ;
    font-size: 16px;
}

.cart-price{
    font-weight: 500;
}

.item-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--text-color);
    text-align: center;
    font-size: 16px;
    width: 38px;
}

.bx-trash{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total-box{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title{
    font-size: 16px;
    font-weight: 600;
}

.total-price{
    margin-left: 8px;
}

.buy-btn{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.buy-btn:hover{
    background: rgb(17, 94, 46);
    transition: 0.5s
}

/* Cerrar carro */
#close-cart{
    position: absolute;
    top: 16px;
    right: 0.8rem;
    font-size: 32px;
    color: var(--text-color);
    cursor: pointer;
}


